<div class="row col-sm-6">
  <%= form_for @assignment do |f| %>
    <% if @assignment.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@assignment.errors.count, "error") %> prohibited
          you from recording this assignment:</h2>
        <ul>
        <% @assignment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  <% end %>
  
  <div class="page-header">
    <h1>Upload Assignments</h1>
  </div>
  
  <div class="row col-sm-6">
    <%= form_tag({action: :upload}, multipart: true) do %>
      <div class="form-group">
        <%= label_tag :upload %>
        <%= file_field_tag :upload, class: 'form-control' %>
      </div>
      
      <%= submit_tag "Import", class: 'btn btn-primary' %>
      &nbsp;or
      <%= link_to 'Cancel', assignments_path %>
    <% end %>
  </div>

</div>

