<div class="page-header">
  <h1>Students</h1>
</div>

<% @students.each do |student| %>
  <div id="<%= dom_id(student) %>" class="list-item">
    <div class="avatar pull-left" style='background-image: url(<%= student.avatar %>)'></div>

    <div class="info-block">
      <h4><%= student.name %></h4>
      <p><em>(<%= student.nickname %>)</em></p>
      <p><%= student.email %></p>
    </div>
  </div>
<% end %>

