<div class="row col-sm-6">
  <%= form_for @attendance do |f| %>
    <% if @attendance.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@attendance.errors.count, "error") %> prohibited
          you from logging your attendance:</h2>
        <ul>
        <% @attendance.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label 'Where area are you sitting in today?' %>
      <%= f.text_field :seat, class: 'form-control' %>
    </div>

    <table class="seating-table">
      <tbody>
        <tr>
          <td>1</td>
          <td>2</td>
        </tr>

        <tr>
          <td>3</td>
          <td>4</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan=2>Front of classroom</td>
        </tr>
      </tfoot>
    </table>

    <%= f.submit "Create", class: 'btn btn-primary' %>
    &nbsp;or
    <%= link_to 'Cancel', students_path %>
  <% end %>
</div>

