<!DOCTYPE html>
<html>
<head>
  <title>NkuRails</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <nav class="navbar navbar-default">
    <div class="navbar-header">
      <div class="navbar-brand">Bueller</div>
    </div>

    <div class="collapse navbar-collapse navbar-right">
      <% if current_student %>
        <p class="navbar-text current-student">
          Hi <%= link_to current_student.name, edit_student_path(current_student) %>!
        </p>
        <%= link_to "Sign out", session_path(1), class: "btn btn-default navbar-btn", method: :delete %></li>
      <% else %>
        <%= link_to "Sign Up", new_student_path, class: "btn btn-default navbar-btn" %>
        <%= link_to "Sign In", new_session_path, class: "btn btn-primary navbar-btn" %>
      <% end %>
    </div>
  </nav>

  <% flash.each do |key, value| %>
    <div class="<%= flash_class(key) %> push--top">
      <%= value %>
    </div>
  <% end %>

  <%= yield %>
</div>

</body>
</html>
